main {
    // min-height: 80%;
    min-height: 78%;

    @include grid-row();
    @include breakpoint(small only) {
        margin: 0 5%;
    }

    section {
        margin: 20px 0;
    }

    ol li {
        margin: 10px 0;
        list-style-type: decimal;
    }

    ul li {
        margin: 10px 0;
        list-style-type: none;
    }

    p {
        margin: 30px 0;
    }

    #challenges {
        border-top: 1px solid $challenge-border-color;
        padding-left: 0;

        a {
            text-decoration: none;
            color: inherit;
        }

        li {
            padding: 30px 0 40px 0;
            margin: 0;
            border-bottom: 1px solid $challenge-border-color;

            div {
                @include grid-row();
                margin-bottom: 15px;

                h3 {
                    @include grid-column(8);

                    margin: 0;
                    font-size: 1.25em;
                }

                p {
                    @include grid-column(4);
                    margin: 0;
                    text-align: right;
                    font-size: 0.9em;
                    font-weight: 300;
                }

                // Override Foundation's styles. Ordering for precendence is gross but not sure of the best
                // way to do this cleanly otherwise.
                h3 {
                    padding-left: 0;
                }
            }

            h4 {
                @include grid-row();
                margin: 0;
                font-weight: normal;
            }
        }

        li > div, li > h4 {
            padding-left: 20px;
        }
    }
}

