.push {
    height: $header-height / 2;
}

footer {
    background-color: $header-bg-color;
    color: $header-fg-color;
    height: $header-height;
    line-height: $header-height;
    // margin-top: 2.5%;

    a {
        color: inherit; 
    }

    @include grid-row();
    max-width: none;

    p {
        margin: 0;
        text-align: right;
        margin-right: 1%;
    }
}