header {
    vertical-align: middle;
    height: $header-height;

    background-color: $header-bg-color;
    color: $header-fg-color;
    @include grid-row();
    max-width: none;

    #logo {
        color: white;
        height: $header-height * 0.8;
        opacity: 0.60;
        margin-right: 5%;
        vertical-align: top;
    }

    h1 {
        margin: 6px 0 0 0;
        text-align: left;
        height: 100%;
        line-height: $header-height;
        vertical-align: top;
        letter-spacing: .06em;

        font-size: 1.4em;
        @include grid-column(5);
        
        @include breakpoint(medium) {
            @include grid-column(3);
            @include grid-column-offset(1);
            font-size: 1.8em;
        }

        span {
            line-height: $header-height - 12px;;
            display: inline-block;
            vertical-align: top;
        }
    }

    nav {
        padding: 0;
        height: 100%;
        margin: 0;

        font-size: 0.8em;
        text-align: right;

        @include grid-column-offset(0);
        @include grid-column(6);

        @include breakpoint(medium) {
            font-size: 1em;
            @include grid-column-offset(2);
            // @include grid-column(4);
        }

        // ul has its own grid. Half of the space is left blank (offset) and the other Half
        // is split evenly into three section.
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            display: flex;
            flex-direction: row;

            @include breakpoint(medium) {
                @include grid-column-offset(6);
            }
        }

        li {
            text-align: right;
            line-height: $header-height;
            min-width: 50px;

            @include breakpoint(medium) {
                text-align: center;
            }

            @include grid-column(4);

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}