section {
    // margin: 10px 0;
    padding: 40px 0;
    font-weight: light;

    @include grid-row();
    @include grid-column-offset(1);
    max-width: none;

    h3 {
        font-weight: bold;
        font-size: 1.4em;
    }
}

section#hero {
    margin-top: 2px;
    padding: 80px 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color: $hero-bg-color;
    color: $hero-fg-color;
    @include grid-column-offset(0);

    code {
        font-size: 1.25em;
        display: block;
        margin: 25px 0;
    }
}

section#details {
    @include grid-row();
    @include breakpoint(medium) {
        @include grid-row();
    }

    div {
        @include grid-column(12);
        @include breakpoint(medium) {
            @include grid-column(5);
        }
    }

    ol {
        line-height: 1.8em;
    }
}