footer
        p 
          | #[span.highlight project] by #[a(href='https://github.com/anyweez') anyweez]. 
          | #[span.highlight challenges] provided by #[a(href='https://github.com/anyweez/sorjs.com/graphs/contributors') the community]. 
          | #[span.highlight icon] by #[a(href='https://thenounproject.com/mockturtle/') sergey demushkin].