meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
link(rel='icon', href='/favicon.ico', type'"image/x-icon')
link(href='https://fonts.googleapis.com/css?family=Nunito:400,300', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600', rel='stylesheet', type='text/css')