language: node_js
node_js:
    - "6.0"
    - "6.1"
    - "6.2"
    - "6.3"
    - "6.4"
    - "6.5"
    - "6"
before_script:
    - pip install --user awscli
    - export PATH=$PATH:$HOME/.local/bin
    - npm install -g gulp sor serve
script: 
    - npm run build
    - serve public &
    - sleep 5
    - scripts/verify_challenges.js
    - scripts/attempt_all.sh
after_success:
    - scripts/deploy.sh
