doctype html

html(lang='en')
    head
        title sor
        include ./partials/head.all.pug
        link(href='/css/challenge.css', rel='stylesheet', type='text/css')

include ./partials/header.pug

main
        h2 Challenges
        p You can attempt any of the following challenges by #[a(href='/guide') installing the client] and creating a function with the specified name.

        ul#challenges
            each challenge in challenges
                a(href='/challenges/' + challenge.spec.func) 
                    li 
                        div
                            h3= challenge.name
                            p= 'added by ' + challenge.added_by + ' on ' + challenge.added_on
                        h4 #[code= challenge.spec.func] #[span= ' - ' + challenge.description.short]

include ./partials/footer.pug