doctype html

html(lang='en')

head
    title sor
    link(href='https://fonts.googleapis.com/css?family=Nunito:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600', rel='stylesheet', type='text/css')
    link(href='css/index.css', rel='stylesheet', type='text/css')
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body
    header
        h1
            img#logo(src='assets/logo.png')
            span sor
        nav
            ul
                li 
                    a(href='/challenges') challenges
                li
                    a(href='/setup') setup
                li
                    a(href='/docs') docs
    main
        section#hero
            h2 Hassle-free Javascript practice.
            h2 For developers, by developers.

            div.terminal
                code $ npm install -g sor
        section#details
            div
                h3 Get started quickly
                ol
                    li Install sor and pick a problem from our site.
                    li Write some code to solve it.
                    li Run #[code sor your-filename.js] to test.
            div
                h3 Community-inspired challenges
                p Users can contribute their own challenges to our growing repository, and everyone else benefits.
                p Learn #[a(href="https://github.com/anyweez/sorjs.com#submitting-challenges") how to contribute] or #[a(href="/challenges") see the full list of challenges].
    footer
        p made by #[a(href="https://lukesegars.com") luke segars]. icon by sergey demushkin.