
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-grid;

$header-height: 70px;

$header-bg-color: #333333;
$header-fg-color: #AAAAAA;
$hero-bg-color: #E8C23E;
$hero-fg-color: #333333;

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    font-size: 1.1em;
}

header {
    vertical-align: middle;
    height: $header-height;

    background-color: $header-bg-color;
    color: $header-fg-color;
    @include grid-row();
    max-width: none;

    #logo {
        color: white;
        height: $header-height * 0.8;
        opacity: 0.60;
    }

    h1 {
        margin: 6px 0 0 0;
        text-align: left;
        height: 100%;
        line-height: $header-height;
        vertical-align: top;
        letter-spacing: .06em;

        font-size: 1.4em;
        @include grid-column(3);
        @include grid-column-offset(0);
        
        @include breakpoint(medium) {
            @include grid-column(2);
            @include grid-column-offset(1);
            font-size: 1.8em;
        }

        span {
            line-height: $header-height - 12px;;
            display: inline-block;
            vertical-align: top;
        }
    }

    nav {
        padding: 0;
        height: 100%;
        margin: 0;

        font-size: 0.8em;
        text-align: right;
        @include grid-column(7);
        @include breakpoint(medium) {
            font-size: 1em;
            @include grid-column(4);
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            @include grid-column-offset(1);
        }

        li {
            text-align: right;
            line-height: $header-height;
            min-width: 50px;

            @include breakpoint(medium) {
                text-align: center;
            }

            @include grid-column(2);
            @include grid-column-end();

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section {
    // margin: 10px 0;
    padding: 40px 0;
    font-weight: light;

    @include grid-row();
    @include grid-column-offset(1);
    max-width: none;

    h3 {
        font-weight: bold;
        font-size: 1.4em;
    }
}

section#hero {
    margin-top: 2px;
    padding: 80px 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-color: $hero-bg-color;
    color: $hero-fg-color;
    @include grid-column-offset(0);

    code {
        font-size: 1.25em;
        display: block;
        margin: 25px 0;
    }
}

section#details {
    @include grid-row(1);
    @include breakpoint(medium) {
        @include grid-row(12);
    }

    div {
        @include grid-column(11);
        @include breakpoint(medium) {
            @include grid-column(5);
        }
    }

    ol {
        line-height: 1.8em;
    }

    a {
        color: $hero-bg-color;
    }
}

footer {
    background-color: $header-bg-color;
    color: $header-fg-color;
    height: $header-height;
    line-height: $header-height;
    margin-top: 2.5%;

    a {
        color: inherit; 
    }

    @include grid-row();
    max-width: none;

    p {
        margin: 0;
        text-align: right;
        margin-right: 1%;
    }
}